@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    font-size: 16px;
    background-color: rgb(209, 240, 255);
    font-family: 'Montserrat';
}
header{
    padding-top: 50px;
    font-weight: 400;
    text-align: center;
    font-size: 1.6em;
}
header h1{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    position: relative;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
footer{
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li {
    font-size: 1.3rem;
    display: inline-block;
    width: 30%;
    text-transform: uppercase;
}
.index_container{
    display: block;
}
.pilot_container {
    background-image: url(../Resources/Images/Citation_X.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 80px;
    vertical-align: middle;
    display: inline-block;
    width: 40%;
    height: 500px;
    border: solid;
    box-sizing:border-box;
    text-transform: uppercase;
}
.pilot_container h2{
    width: 40%;
    margin: 225px auto;
    text-align: center;
    border:solid;
    background-color: white;
    opacity: .8;
}
.coding_container {
    background-image: url(../Resources/Images/Coding.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 80px;
    vertical-align: middle;
    display: inline-block;
    width: 40%;
    height: 500px;
    border: solid;
    box-sizing:border-box;
    text-transform: uppercase;
}
.coding_container h2{
    width: 40%;
    margin: 225px auto;
    text-align: center;
    border:solid;
    background-color: white;
    opacity: .8;
}
.about_me{
    background-image: url(../Resources/Images/about_me.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 380px;
    box-sizing: border-box;
    text-transform: uppercase;
    margin:auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border: solid;
}
.about_me h2{
    width: 40%;
    margin: 175px auto;
    text-align: center;
    border:solid;
    background-color: white;
    opacity: .8;
}
@media only screen and (max-width:600px){
    header h1{
        width: 80%;
    }
    .coding_container{
        max-width: 80%;
        max-height: 80%;
        min-width: 80%;
        min-height: 80%;
    }
    .coding_container h2{
        width: 80%;
    }
    .pilot_container{
        max-width: 80%;
        max-height: 80%;
        min-width: 80%;
        min-height: 80%;
    }
    footer{
        padding-bottom: 80px;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width:900px) and (portrait){
    .coding_container h2{
        width: 80%;
    }
    footer{
        font-size: 0.9rem;
    }
}
